name: Main

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-test:
    name: Build and Test
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            10.0.x

      - name: Build
        run: |
          dotnet msbuild DynamoPythonNet3.sln -p:Configuration=Release -restore

      - name: Test
        run: dotnet test
